.header {
    background-color: #177079;
   height: 100px;
}
.boite-logo{

  .image-logo {
    .image-du-logo {
    width: 50px;
    height: 50px;
    padding-left: 30px;
    padding-top: 30px;
    border-left: 60px;
    }

  }  
}
