* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: #177079;
   height: 100px;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   padding-inline: 22px;
   


.image-du-logo {
width: 50px;
height: 50px;

}  


.boite-profil{
    display: flex;
    justify-content: space-between;
    margin-left: 120px;    
}
.image-boite-icone {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: space-between;
    
    

  }

.image-profil {
   width: 20px;
    height: 20px;
    
}

.image-icone-more {
    width: 20px;
    height: 20px;
    
}
}
.boite-trait {
    background-color: #13acb4;
    height: 5px;
  

  
}

.boite-premiere-section {
  background-color: #063b45;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  

.css-titre {
  color: #d2ebf0;
  text-align: left;


}



.css-video {
  width: 50%;
  align-items: center;
  border-radius: 30px;
  border-color: #d2ebf0;
  border: #d2ebf0 solid 5px;

  
} 
}
.css-paragraphe1 {
  color: #d2ebf0;
  

}

.second-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: azure;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;

.boite-deuxieme-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 30px;

  .css-titre-deuxieme-section {
    color: #177079;
    display: flex;
    text-align: center;

  }
  .css-paragraphe2 {
    color: #177079;
     display: flex;
     text-align: center;

  }
  .bouton-deuxieme-section {
    background-color: yellow;
    border: black;
    border-radius: 30px;
    width: 100%;
    text-align: center;
  }


  }

}

  .troisieme-section{
    background-color: #47b9cb;
    
  }
  
  .boite-troisieme-section{
    display: flex;
    justify-content: center;
    
    flex-direction: column;
    img{
      width: 800px;
    }
  }
  
  
  .css-titre-troisieme-section{
    text-align: center;
    color: white;
  }  
  

