* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: #177079;
   height: 100px;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   padding-inline: 22px;
   


.image-du-logo {
width: 50px;
height: 50px;

}  


.boite-profil{
    display: flex;
    justify-content: space-between;
    margin-left: 120px;    
}
.image-boite-icone {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: space-between;
    
    

  }

.image-profil {
   width: 20px;
    height: 20px;
    
}

.image-icone-more {
    width: 20px;
    height: 20px;
    
}
}
.boite-trait {
    background-color: #13acb4;
    height: 5px;
  

  
}

.boite-premiere-section {
  background-color: #063b45;

.h1 {
  color: #d2ebf0;
}
.image-video {

}
}
